<template>
  <div class="card p-3 mb-4 text-white">
    <h2 v-if="title" class="mb-4">{{ title }}</h2>

    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    background-color: rgba(220, 220, 220, 0.3);
    border-radius: 0.25rem;
  }
</style>
