<template>
  <nav id="navbar" class="navbar fixed-top navbar-expand navbar-dark justify-content-between" :class="navbarBgClass">
    <router-link class="navbar-brand" :to="$withBase('/')">SF</router-link>

    <ul class="navbar-nav">
      <li v-for="item in $site.themeConfig.nav" :key="item.link" class="nav-item">
        <router-link class="nav-link p-2 text-uppercase" :to="$withBase(item.link)">{{ item.text }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      navbarBgClass: 'transparent'
    }
  },

  mounted () {
    // Setup scrollspy to display return-to-top button
    window.addEventListener('scroll', this.checkPosition)
  },

  destroyed () {
    window.removeEventListener('scroll', this.checkPosition)
  },

  methods: {
    checkPosition () {
      const scrollPosition = document.documentElement.scrollTop || document.body.scrollTop

      // If page is scrolled more than the navbar
      if (scrollPosition >= 65) this.navbarBgClass = 'opaque'
      else this.navbarBgClass = 'transparent'
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../style/variables";

  .navbar-dark {
    transition: 0.5s;

    &.transparent {
      background-color: transparent;
    }

    &.opaque {
      background-color: #011425;
      box-shadow: 0 1px 2px rgba(1, 20, 37, 0.3);
    }

    .navbar-brand {
      border: 2px solid $white;
      padding: 0.3125rem;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 0.25rem;
      transition: .5s;

      &:hover {
        border-color: $secondary;
        color: $secondary;
        background-color: $white;
      }
    }

    .navbar-nav {
      .nav-item {
        &:not(:last-child) {
          margin-right: 0.25rem;
        }

        .nav-link {
          color: $white;
          font-size: 14px;
          transition: .5s;

          &:hover {
            text-decoration: none;
            background-color: $white;
            border-radius: 0.25rem;
            color: $secondary;
          }
        }
      }
    }
  }
</style>
