<template>
  <card>
    <h4 v-if="project.title" class="mb-1">{{ project.title }}</h4>
    <h6 v-if="project.customer" class="font-italic">{{ project.customer }}</h6>

    <div v-for="tag in project.tags" :key="tag" class="badge badge-secondary mr-1">{{ tag }}</div>

    <p class="mt-2">{{ project.description }}</p>

    <a v-if="project.url" :href="project.url" target="_blank" class="btn btn-primary btn-sm">Démo</a>
    <a v-if="project.repo" :href="project.repo" target="_blank" class="btn btn-primary btn-sm">Repo</a>
  </card>
</template>

<script>
import Card from './Card.vue'

export default {
  components: { Card },

  props: {
    project: {
      type: Object,
      default: () => { return {} }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
