<template>
  <div>
    <nav-bar />
    <component :is="layout" id="wrapper" class="wrapper mx-auto" />
  </div>
</template>

<script>
import './style/theme.scss'
import './style/icons/style.css'
import NavBar from './components/NavBar.vue'
import HomeLayout from './layouts/HomeLayout.vue'
import AboutLayout from './layouts/AboutLayout.vue'
import WorksLayout from './layouts/WorksLayout.vue'
import SimpleLayout from './layouts/SimpleLayout.vue'

export default {
  components: { NavBar, HomeLayout, AboutLayout, WorksLayout, SimpleLayout },

  computed: {
    layout () {
      return this.$page.frontmatter.layout || 'HomeLayout'
    }
  }
}
</script>

<style lang="scss">
  @import "./style/variables";

  body {
    height: 100vh;
    background: url('./assets/stars_galaxies.jpg') top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;

    .wrapper {
      padding: 5rem 0 2rem;
      width: 90%;

      @media (min-width: $grid-breakpoint-md) {
        width: 75%;
      }

      @media (min-width: $grid-breakpoint-xl) {
        width: 50%;
      }
    }
  }
</style>
