<template>
  <div>
    <nav-bar />

    <section class="d-flex align-items-center">
      <div class="w-75 mx-auto text-center text-white">
        <h1>404</h1>
        <blockquote>{{ getMsg() }}</blockquote>
      </div>
    </section>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'

const msgs = [
  `Il n'y a rien ici :(`,
  `Mais comment êtes vous arrivé là ?`,
  `Un quatre, un zéro et un autre quatre...`,
  `Oups, il semblerait que j'ai quelques liens périmés !`
]

export default {
  components: { NavBar },

  methods: {
    getMsg () {
      return msgs[Math.floor(Math.random() * msgs.length)]
    }
  }
}
</script>

<style scoped lang="scss">
  @import "./style/variables";

  section {
    height: 100vh;

    h1 {
      font-size: 90px;
    }
  }
</style>
