@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uvzeyr');
  src:  url('fonts/icomoon.eot?uvzeyr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uvzeyr') format('truetype'),
    url('fonts/icomoon.woff?uvzeyr') format('woff'),
    url('fonts/icomoon.svg?uvzeyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-stack-overflow:before {
  content: "\e903";
}
.icon-gitlab:before {
  content: "\e904";
}
