<template>
  <section>
    <card :title="$page.frontmatter.title">
      <Content />
    </card>

    <div class="row">
      <div class="col-lg-4">
        <card :title="$page.frontmatter.skills_title">
          <ul class="list-unstyled">
            <li v-for="skill in $page.frontmatter.skills" :key="skill.title">
              <span>{{ skill.title }}</span>
              <div class="progress"><div class="progress-bar" :style="{ width: skill.level + '%' }" /></div>
            </li>
          </ul>
        </card>
      </div>

      <div class="col-lg-4">
        <card :title="$page.frontmatter.formations_title">
          <ul class="list-unstyled">
            <li v-for="formation in $page.frontmatter.formations" :key="formation.title">
              <div class="d-flex justify-content-between">
                <span>{{ formation.title }}</span>
                <span>{{ formation.year }}</span>
              </div>
              <em>{{ formation.description }}</em>
            </li>
          </ul>
        </card>
      </div>

      <div class="col-lg-4">
        <card :title="$page.frontmatter.interests_title">
          <ul class="list-unstyled">
            <li v-for="interest in $page.frontmatter.interests" :key="interest">{{ interest }}</li>
          </ul>
        </card>
      </div>
    </div>
  </section>
</template>

<script>
import Card from '../components/Card.vue'

export default {
  components: { Card }
}
</script>

<style lang="scss" scoped>
  .progress {
    height: 5px;
  }
</style>
