<template>
  <section class="d-flex align-items-center ">
    <div class="w-100 text-center text-white">
      <h1>{{ $page.frontmatter.title }}</h1>

      <h3>{{ $page.frontmatter.tagline }}</h3>

      <hr>

      <ul class="list-inline">
        <li v-for="profile in $page.frontmatter.profiles" :key="profile.network" class="list-inline-item">
          <a :href="profile.url" :title="profile.network" target="_blank"><i :class="profile.icon" /></a>
        </li>
      </ul>
    </div>
  </section>
</template>

<style scoped lang="scss">
  @import "../style/variables";

  section {
    height: 100vh;

    h1 {
      font-size: 90px;
    }

    hr {
      border-color: $white;
      width: 60%;
      opacity: .5;
    }

    ul li {
      &.list-inline-item:not(:last-child) {
        margin-right: 3rem;
      }

      a {
        color: $white;
        font-size: 30px;
        transition: 0.5s;

        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }
</style>
