<template>
  <section>
    <card :title="$page.frontmatter.title">
      <Content />
    </card>
  </section>
</template>

<script>
import Card from '../components/Card.vue'

export default {
  components: { Card }
}
</script>
