<template>
  <section>
    <h2 class="mb-4 text-white">Projets personnels</h2>
    <div class="row">
      <div v-for="project in $page.frontmatter.personnal" :key="project.title" class="col-lg-6">
        <project :project="project" />
      </div>
    </div>

    <h2 class="mb-4 text-white">Projets professionnels</h2>
    <div class="row">
      <div v-for="project in $page.frontmatter.professional" :key="project.title" class="col-lg-6">
        <project :project="project" />
      </div>
    </div>
  </section>
</template>

<script>
import Project from '../components/Project.vue'

export default {
  components: { Project }
}
</script>

<style lang="scss" scoped>
  .progress {
    height: 5px;
  }
</style>
